*{ 	margin: 0; 	padding: 0; 	box-sizing: border-box; }
html {    font-size: calc(100vw / 30);}
body{display: flex; flex-direction: column;}
ul, nav{list-style: none;}
a{text-decoration: none;color: inherit;cursor: pointer;opacity: 0.9;}
a:hover{opacity: 1;}
a.btn{color: #fff;border-radius: 4px;text-transform: uppercase;	background-color: #2196F3;
	font-weight: 800;	text-align: center;}
hr{width: 150px;height: 2px;background-color: #2196F3;border: 0;margin-bottom: 80px;}
img{max-width: 100%;}
    /*==========  Mobile First Method  ==========*/ /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        header{flex-direction: row;}
        .logo {    display: flex;    justify-content: space-around;   
            width: 100%;}
        .p40{display: flex;}
		#оur-features{background-color: #fff;text-align: center;}
		.title{font: bold 2.5rem 'Open Sans', sans-serif;margin-bottom: 15px;}
        .feature h2{font: normal 1.3rem 'Open Sans', sans-serif;	margin-bottom: 40px;}
        #section1 > div{flex-direction: column;}
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
    /*==========  Non-Mobile First Method  Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
    @media screen and (max-width: 700px){
    	header .menu{flex-direction: row;}
    	header .menu .logo {display: flex; flex-direction: row;justify-content: space-between;width: 100%;padding: 1em;}
    	header .menu .logo .btn-menu {display: inline-block;}
    	header .menu .enlaces{width: 100%;display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
    }
    /* 	Header */
    header{ position: absolute;top: 0;left: 0;z-index: 10;width: 100%;display: flex;
    	justify-content: space-around; align-items: center; color: #fff;
    	 background: rgba(39, 122, 151, 0.17); height: 10vh;
    }
header h2{	font-family: 'Quicksand', sans-serif;}
header nav{	display: flex;}
header > nav > ul{display: flex; font-size: 0.5rem;}
header > nav > ul > li{padding: 0.2rem;}
/*#mainmenuitem{ padding: 2vh;  } */
.hvr-shutter-out-horizontal{background: rgba(39, 122, 151, 0.07);}
header nav li{/*margin: 0 15px;*/}
header nav li:first-child{	/*margin-left: 0;	*/}
header nav li:last-child{	/*margin-right: 0;	*/}
#header.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned{
position: 	fixed;	background:white;color:black;}
#header.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned > h2 {color:black; }
#header.headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned > nav {color:black; }
.titlesection{    padding: 0.1rem;font-size: 1.5rem; color: black;  text-align: center;}
.contactfields{	display: flex;	flex-direction: column;	justify-content: space-between;}
.contacts{display: flex; 	flex-direction: row;justify-content: space-between;}
.contacts  a{	 border-radius: 50%;}
.contacts a:hover{ border-radius: 50%;}
/*---------------- 	Hero Section----------------*/
.hero{position:relative;justify-content:center;min-height:100vh;color:#fff;text-align:center;}
.hero .background-image{position: absolute; top: 0;	left: 0; width: 100%;	height: 100%;
	background-size: cover; background-color: #2196F3;	z-index: -1;}
.hero .background-image:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; 
height: 100%;background-color: #414a4f;	opacity: 0.75;}
.hero h1{	font: bold 2em 'Open Sans', sans-serif; 	margin-bottom: 15px;}
.hero h3{font: normal 1em 'Open Sans', sans-serif;	margin-bottom: 40px;}
.hero a.btn{padding: 20px 46px;}
@media (max-width: 800px){
	.hero{min-height: 600px;}
	.hero h1{font-size: 48px;}
	.hero h3{font-size: 24px;}
	.hero a.btn{	padding: 15px 40px;	}
}
@media (min-width: 800px){
	a#btn-menu.btn-menu{display:none;color: #fff;text-decoration: none;font-size: 1em;	}
}
	min-height:60vh;padding: 5% 0%;}
.our-work .grid li{
	padding: 20px;	height: 350px;	border-radius: 3px;	background-clip: content-box;
	background-size: cover; background-position: center;background-color: #333;}
.our-work .grid li.small{	flex-basis: 40%;}
.our-work .grid li.small .center{align-content: center;}
.our-work .grid li.large{	flex-basis: 60%;}
#оur-services{	background-color: rgba(121, 202, 197, 0.27);text-align: center; }

#оur-services  > .service{ display: flex;  flex-direction: row; 
	justify-content: space-around;}
.service h1{ font: bold 60px 'Open Sans', sans-serif; margin-bottom: 15px; }
.service h3{ font: normal 28px 'Open Sans', sans-serif; 	margin-bottom: 40px; }
@media (max-width: 1000px){
#оur-features > li { flex-direction: column; 	background-color: #fff; 	text-align: center; 	min-height:  60vh;
	padding: 5% 0%; }
}
.headroom{	transition: transform .3s ease;}
.headroom--pinned{ 	transform: translateY(0%);}
.headroom--unpinned{transform: translateY(-100%);}
  
