*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #f2f2f2;
	background-color: grey;
	font-size: 16px;
	padding-top:55px;
}

header{background: #4757ad;
position: fixed;
width: 100%;
top:0;}

.menu{width: 90%;
max-width: 1000px;
margin:auto;
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.menu .logo{
	display:inline-block;
	margin-right: 1em;
}
.menu .logo img{
	vertical-align: top;
	height: 22px;
}
.menu .btn-menu{
	display:none;
	color: #fff;
	text-decoration: none;
	font-size: 1em;

}
.menu .logo:hover{
	background:#4357ad;

}
.menu .enlaces{
	display:inline-block;
	text-align: right;

}
.menu .enlaces a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	text-align: center;
	font-size: 1em;

}

.menu .enlaces i {
	margin-right: 5px;
}
.menu .enlaces a:hover{
	background: #f2f2f2;
	color: #4357ad;


}
main{
	width: 90%;
	max-width:1000px;
	margin: 20px auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
}
main article h1{
	font-weight: normal;
	margin-bottom: .5em;

}
main article hr{
	margin-bottom: 1em;
height:2px;
background: #4357ad;
	border:none;
}

main article p {
	margin-bottom: 1em;

} 

.headroom{
	transition: transform .3s ease;
}
.headroom--pinned{
	transform: translateY(0%);
}
.headroom--unpinned{
	transform: translateY(-100%);
}
  
@media screen and (max-width: 700px){
	header .menu{flex-direction: column;}
	header .menu .logo {display: flex; flex-direction: row;justify-content: space-between;width: 100%;padding: 1em;}
	header .menu .logo .btn-menu {display: inline-block;}
	header .menu .enlaces{width: 100%;display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-between;}

}

.section_video {
display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
}
.content_video{
	background: rgba(0,0,0,.6);
	text-align: center;
}
.content_video h1 {
	color: #fff;
	margin:0.6em;
}
.content_video h2 {
	margin:0.6em;
	color: #fff;
}
.content_video a {
	color: #fff;
	margin:1em;
	text-decoration: none;
	background: rgba(71, 87, 173, 0.38);

}
.content_video a:hover {
	text-decoration: underline;
	background: rgba(71, 87, 173, 0.6);
	

}
/*a[class^="section_"]{
 display:flex;
}*/
/*div .section_video{
	flex-direction: column;
	align-content: center;
}*/
/*twa-lg, twa-2x, twa-3x, twa-4x and twa-5x.
 http://www.webpagefx.com/tools/emoji-cheat-sheet/*/